{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<div class="container form-centered-container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default panel-shadow">
                <div class="panel-heading text-center">
                    <h4><i class="glyphicon glyphicon-lock"></i> Смена пароля</h4>
                </div>
                <div class="panel-body">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                        {% for category, message in messages %}
                          <div class="alert alert-{{ category }} alert-dismissible">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              {{ message }}
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                    
                    <form method="POST">
                        <div class="form-group">
                            <label>Старый пароль:</label>
                            <input type="password" name="old_password" class="form-control" required autofocus>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>Новый пароль:</label>
                            <input type="password" name="new_password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Подтверждение:</label>
                            <input type="password" name="confirm_password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Обновить</button>
                        <a href="{{ url_for('index') }}" class="btn btn-default btn-block">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    if (localStorage.getItem("theme") === "gray") document.body.classList.add("theme-gray");
</script>
{% endblock %}

